.root {
    -fx-background-color: #000000;
    -fx-background-image: url("gamefirstpage.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#box1, #box2 {
    -fx-translate-x: 50;
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-border-width: 3;
}

#box1 {
    -fx-border-color: #c779c1;
}

#box2 {
    -fx-border-color: #5cbdc0;
}

.label {
    -fx-font-family: Mistral;
}

.button {
    -fx-font-family: Mistral;
    -fx-border-color: #d872c7;
    -fx-background-color: transparent;
    -fx-text-fill: #38a7b9;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-pref-width: 160;
    -fx-border-width: 3;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-text-fill: #d872c7;
    -fx-border-color: #38a7b9;
}

#mainText {
    -fx-translate-x: 50;
    -fx-font-size: 40;
    -fx-text-fill: #311d38;
}

#label1 {
    -fx-font-size: 35;
    -fx-text-fill: #38a7b9;
}

#label2 {
    -fx-font-size: 35;
    -fx-text-fill: #d872c7;
}

#label3 {
    -fx-font-size: 27;
    -fx-text-fill: #38a7b9;
}

#play {
    -fx-text-fill: #d872c7;
    -fx-border-color: #38a7b9;
    -fx-translate-x: 70;
}

#play:hover {
    -fx-border-color: #d872c7;
    -fx-text-fill: #38a7b9;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #d872c7;
    -fx-text-fill: #38a7b9;
    -fx-font-family: Mistral;
    -fx-font-size: 25;
    -fx-border-width: 3;
    -fx-border-radius: 10;
}

#goBack {
    -fx-text-fill: #1b0f37;
    -fx-border-color: #1b0f37;
    -fx-translate-x: 90;
    -fx-translate-y: 120;
}

#goBack:hover {
    -fx-background-color: #1b0f37;
    -fx-text-fill: #426d74;
}