.root {
    -fx-background-color: #000000;
    -fx-background-image: url("clownBG.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#first, #second {
    -fx-translate-x: -150;
}

.navi {
    -fx-translate-x: -150;
    -fx-background-color: #000000;
    -fx-font-size: 50;
    -fx-text-fill: #ffffff;
    -fx-padding: 0;
}

.navi:hover {
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
}

#goBack {
    -fx-translate-y: -10;
    -fx-translate-x: 60;
    -fx-font-family: "Kunstler Script";
    -fx-pref-height: 14;
    -fx-pref-width: 175;
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-text-fill: #52126d;
    -fx-font-size: 25.4;
}

#goBack:hover {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-text-fill: #52126d;
}

.select {
    -fx-translate-y: 10;
    -fx-translate-x: -150;
    -fx-font-family: "Kunstler Script";
    -fx-pref-height: 14;
    -fx-pref-width: 175;
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-text-fill: #52126d;
    -fx-font-size: 25.4;
}

