.root {
    -fx-background-color: #000000;
    -fx-background-image: url("profilebackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.box1, .box2 {
    -fx-border-color: #c1a10a;
    -fx-translate-x: 80;
    -fx-translate-y: 27;
    -fx-padding: 15;
}

.label {
    -fx-font-family: "Monotype Corsiva";
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-translate-x: 5;
}

#nickname, #username {
    -fx-text-fill: #c1a10a;
    -fx-translate-x: 80;
}

.button {
    -fx-font-family: "Monotype Corsiva";
    -fx-font-size: 20;
    -fx-background-color: #c1a10a;
    -fx-text-fill: #000000;
    -fx-pref-height: 15;
    -fx-pref-width: 85;
    -fx-border-color: #c1a10a;
    -fx-translate-x: 65;
}

.button:hover {
    -fx-text-fill: #c1a10a;
    -fx-background-color: #000000;
    -fx-border-color: #c1a10a;
}

#goBack {
    -fx-pref-width: 150;
    -fx-translate-x: 200;
    -fx-translate-y: -80;
}

#profilePicture {
    -fx-translate-x: -50;
    -fx-translate-y: -22;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #c1a10a;
    -fx-text-fill: #c1a10a;
    -fx-border-radius: 6;
}