.root {
    -fx-background-color: transparent;
    -fx-background-image: url("deckbackground.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1246 763;
    -fx-background-position: center center;
}

.navi {
    -fx-translate-x: -100;
    -fx-background-color: #000000;
    -fx-font-size: 50;
    -fx-text-fill: #ffffff;
    -fx-padding: 0;
}

.navi:hover {
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
}

#mainMenu {
    -fx-translate-y: 80;
    -fx-translate-x: 37;
    -fx-font-family: "Kunstler Script";
    -fx-pref-height: 14;
    -fx-pref-width: 175;
    -fx-background-color: #ffffff;
    -fx-font-size: 25.4;
}

.action {
    -fx-font-family: "Kunstler Script";
    -fx-pref-height: 14;
    -fx-pref-width: 175;
    -fx-background-color: #ffffff;
    -fx-font-size: 25.4;
    -fx-translate-x: -100;
}

#mainMenu:hover, .buy:hover {
    -fx-border-color: #ffffff;
    -fx-background-color: #0023ff;
}

.text-field {

}

