.root {
    -fx-background-color: #000000;
    -fx-background-image: url("scoreboard.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.label {
    -fx-font-size: 27;
    -fx-font-family: "Script MT Bold";
    -fx-translate-x: -70;
    -fx-translate-y: -150;
}

.button {
    -fx-font-family: "Script MT Bold";
    -fx-pref-width: 150;
    -fx-translate-y: 260;
    -fx-translate-x: 330;
    -fx-font-size: 20;
    -fx-background-color: #FF00C8;
    -fx-text-fill: #3c5162;
    -fx-border-color: #FF00C8;
}

.button:hover {
    -fx-text-fill: #FF00C8;
    -fx-background-color: #3c5162;
}
