.root {
    -fx-background-color: #000000;
    -fx-background-image: url("cheatScene.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.spillTheTea {
    -fx-font-family: "Jokerman";
    -fx-font-size: 37;
    -fx-text-fill: #ff7ae3;
    -fx-translate-y: -180;
    -fx-translate-x: -180;
}

.madness {
    -fx-font-family: "Jokerman";
    -fx-border-color: #ffffff;
    -fx-text-fill: #ff00f2;
    -fx-background-color: #000000;
    -fx-font-size: 20;
    -fx-alignment: center;
    -fx-translate-y: 180;
    -fx-translate-x: -70;
}

.madness:hover {
    -fx-text-fill: #000000;
    -fx-background-color: #ff00f2;
}